
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>智能监考监控</title>
      <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/face_recognize.css">
    <link rel="stylesheet" href="../static/css/index.css"/>
</head>
<style>
    body{
        background:#040f3c
    }
    #video {
        position: fixed;
        min-width: 500px;
        min-height: 500px;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        z-index: -100;
    }
        #canvas {
        position: fixed;
        min-width: 500px;
        min-height: 500px;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        z-index: -100;
    }

        .button_press {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

    .button_press:hover {background-color: #3e8e41}

.button_press:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

</style>
<body>
    <div class="header">
        <!--头部-->
        <div>
            智能监考监控
        </div>
        <div style="font-size: 15px">
            Intelligent proctor monitoring
        </div>

        <div id="user_name">欢迎用户：{{ name }}</div>

        <a href="javascript:;" class="a-access">
            <button class="button type1" onclick="switch_display_mode()">
                切换显示模式
            </button>
        </a>
    </div>
    <div class="renlian">

        <div class="box">
            <video id="video" width="500px" height="500px" autoplay="autoplay" hidden="hidden"></video>
            <canvas id="canvas" width="500px" height="500px"></canvas>

            <canvas id="canvas2" width="500px" height="500px" hidden="hidden"></canvas>

            <div class="line"></div>
            <div class="bottom"></div>

        </div>
    </div>

</body>
{#跨站伪造#}
 <script>
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })

        $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
 </script>

<script>




    //获得video摄像头区域
    let video = document.getElementById("video");
    function getMedia() {
        let constraints = {
            video: {width: 500, height: 500},
            audio: true
        };
        /*
        这里介绍新的方法:H5新媒体接口 navigator.mediaDevices.getUserMedia()
        这个方法会提示用户是否允许媒体输入,(媒体输入主要包括相机,视频采集设备,屏幕共享服务,麦克风,A/D转换器等)
        返回的是一个Promise对象。
        如果用户同意使用权限,则会将 MediaStream对象作为resolve()的参数传给then()
        如果用户拒绝使用权限,或者请求的媒体资源不可用,则会将 PermissionDeniedError作为reject()的参数传给catch()
        */
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        }).catch(function (PermissionDeniedError) {
            console.log(PermissionDeniedError);
        })
    }

    getMedia()






    point_mode = [false]//True代表红点模式 false代表绿点模式
    //改变点颜色
    function switch_point_mode() {
        if (point_mode[0] == true) {
            point_mode[0] = false
        } else if (point_mode[0] == false) {
            point_mode[0] = true
        }

    }




        <!--var video = document.getElementById('video');-->
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');



    //帧计数  到达某帧会进行一次人脸对比
    var idx = 0
    //进行人脸对比后 不是该人的次数
    var not_face_num = 0
    // 接收进行人脸对比后的结果
    var if_face
    // 控制模式
    display_mode=[false] //true代表yolo模式，false代表人脸特征模式
    function switch_display_mode(){

        if( display_mode[0]==true){
             display_mode[0]=false
        }
        else if ( display_mode[0]==false){
             display_mode[0]=true
        }
    }


    var user_name = $('#user_name').text().split("：")[1]
    //人脸检测 动态视频
	var i=window.setInterval(function() {
	    let canvas = document.getElementById("canvas");
        let ctx = canvas.getContext('2d');

        var imgData = canvas.toDataURL("image/jpeg");

        {#console.log(display_mode)#}

    if (display_mode[0]==true){
                $.ajax({
        url:'/Yolo_upload/',
        type:'POST',
        data: JSON.stringify({"imgData": imgData,"name":user_name}),
        contentType:"Content-Type: application/x-www-form-urlencoded",

        success:function (data,status){
        data = JSON.parse(data)
        if (data['display_mode']==false){
            console.log("更改为行为识别")
            switch_display_mode()
        }

                    //采集加上传
        ctx.drawImage(video, 0, 0, 500, 500);
        ctx.beginPath();

        ctx.lineWidth="5";
        ctx.strokeStyle="#ff0084";

        ctx.stroke();}})
    }
    else if (display_mode[0]==false){

        idx = idx+1

        //获取viedio上的图片作为人脸动态识别
        let canvas1 = document.getElementById("canvas2");
        let ctx1 = canvas1.getContext('2d');
        ctx1.drawImage(video, 0, 0, 500, 500);
        let face_data = canvas1.toDataURL("image/jpeg");

        if(idx%20==0){
            $.ajax({
            url: '/drew/',
            type: 'POST',
            //这个地方需要传一个名字进来，然后再后端添加一个用户，该名字用来索引该用户
            data: JSON.stringify({"imgData": face_data,"name":user_name,"check_face":true}),
            contentType: "json/application",

            success: function (data, status) {
                // alert("数据: \n" + data + "\n状态: " + status);
                data = JSON.parse(data)
                 if_face = data['face_id']

                if(if_face==0){
                    not_face_num=not_face_num+1
                }else if (if_face!=undefined){
                    not_face_num=0
                }

            }


    })
        }else {
                                //只显示视频传播
            $.ajax({
            url: '/drew/',
            type: 'POST',
            //这个地方需要传一个名字进来，然后再后端添加一个用户，该名字用来索引该用户
            data: JSON.stringify({"imgData": imgData,"name":user_name,"check_face":false}),
            contentType: "json/application",

            success: function (data, status) {
                // alert("数据: \n" + data + "\n状态: " + status);
                data = JSON.parse(data)
                if (data['display_mode']==true){
                    console.log("更改为行为识别")
                    switch_display_mode()
                }


                boundingbox = data['rectangles']
                points = data['shape']

                {#if(idx%20==0){#}
                {#    if_face = data['face_id']}#}

                {#console.log(`脸是：${if_face}`)#}
                //采集加上传
                ctx.drawImage(video, 0, 0, 500, 500);
                ctx.beginPath();

                ctx.lineWidth = "5";
                ctx.strokeStyle = "#ff0084";

                ctx.rect(boundingbox[0], boundingbox[1], boundingbox[2], boundingbox[3])
                {#for (i = 0; i < boundingbox.length; i++) {#}
                {#console.log(boundingbox[i]);#}
                {#   ctx.rect(boundingbox[i][0],boundingbox[i][1],boundingbox[i][2],boundingbox[i][3]);#}


                for (i = 0; i < points.length; i++) {
                    {#console.log(points[i][0]);#}
                    ctx.fillRect(points[i][0], points[i][1], 4, 4);
                    {#ctx.arc(points[i][0],points[i][1],1,0,2*Math.PI)#}
                }

                if(not_face_num>=2){
                     ctx.fillStyle = "#ff0000";
                }else {
                    ctx.fillStyle = "#00ff88";
                }

                ctx.r
                ctx.stroke();

            }


        })

        }

    }
    },100)





        //控制按钮
		document.addEventListener('keydown', function(e){
			    if (e.keyCode == 86 && e.ctrlKey) {
			        alert("你按下了ctrl+V");
			    }
			    if (e.keyCode == 86 && e.altKey) {
			        alert("你按下了alt+V");
			    }
			    if (e.keyCode == 86 && e.shiftKey) {
			        alert("你按下了shift+V");
			    }
			     if (e.keyCode == 83 && e.ctrlKey){
					 alert('saved1');
			    	e.preventDefault();
			    	alert('saved');
			     }
			    if (e.keyCode == 83 && e.ctrlKey && e.shiftKey) {
			        alert("你按下了ctrl+shift+S");
			    }
			    if (e.keyCode == 13&&e.ctrlKey) {
			        alert("你按下了ctrl+回车");
			        return;
			    }
			    if (e.keyCode == 13) {
			        switch_display_mode()

			        {#alert("你按下了回车");#}
			    }
			    if(e.keyCode== 16){
			        {#alert("你按下了shift");#}
			        switch_point_mode()
                }
                if (e.keyCode == 97) {
                    user_id=1
                    $.ajax({
                        type: "post",
                        //后端需要1调用的地址
                        url: "/switch_user/",
                        data: JSON.stringify({"user_id": user_id}),
                        contentType: "json/application",
                        success: function (data, status) {
                            //成功后回调
                            console.log(data)
                        },

                    });

                }
                if (e.keyCode == 98) {
                    user_id=2
                    $.ajax({
                        type: "post",
                        //后端需要1调用的地址
                        url: "/switch_user/",
                        data: JSON.stringify({"user_id": user_id}),
                        contentType: "json/application",
                        success: function (data, status) {
                            //成功后回调
                            console.log(data)
                        },

                    });

}
		});


</script>
</html>