<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IMG元素内存泄露测试</title>
    <script type="text/javascript" src="../static/js/vid/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            var i = 0;
            var t;

            // img标签方式  
            function changeImage() {
                i++;
                var picIndex = i % 20;
                $("#imagePath").html("images/" + picIndex + ".jpg");
                $("#div").append("<img width='100' height='100' src='images/" + picIndex + ".jpg' />");
            };

            function end() {
                clearInterval(t);
                $("#div").find("img").each(function () {
                    $(this).attr("src", "");
                    $(this).remove();
                });
            CollectGarbage();

            }

            t = window.setInterval(changeImage, 200);
            window.setTimeout(end, 5000);
        });
    </script>
</head>
<body>
    <label id="imagePath"></label>

    <!-- 使用img标签，不改变图片大小，不会发生内存泄漏。 -->
    <div id="div">
    </div>
</body>
</html>